.iframe-section {
  background-color: $red-text;
	margin-top: 108px;
	padding-left: 100px;
	padding-right: 100px;
}
.iframe-container-flex {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 60px;
	padding-bottom: 35px;
}
.iframe-container__left {
	padding-left: 65px;
	width: 100%;
}
.iframe-container__left__h3 {
	font-size: 36px;
	line-height: 43px;
	color: $primary-color;
	width: 70%;
}
.iframe-container__left__p {
	padding-top: 32px;
	color: $primary-color;
	font-size: 16px;
	line-height: 22px;
	text-align: justify;
	width: 70%;
}
.iframe-ico-anchor {
	width: 32px;
	height: 32px;
}
.iframe-container__left__ico-playstore {
	margin-top: 35px;
	color: $primary-color;
	font-size: 32px;
	width: 32px;
	height: 32px;
	&:hover {
		color: $black-text;
		text-shadow: 0.5px 0.5px 1px grey;
	}
	&:active {
		padding-top: 35px;
		color: $primary-color;
	}
}
.iframe-container__left__ico-appstore {
	margin-top: 35px;
	color: $primary-color;
	font-size: 28px;
	width: 28px;
	height: 28px;
	margin-left: 25px;
	&:hover {
		color: $black-text;
		text-shadow: 0.5px 0.5px 1px grey;
	}
	&:active {
		padding-top: 35px;
		color: $primary-color;
	}
}
.iframe-container__left__ico-windows {
	margin-top: 35px;
	color: $primary-color;
	font-size: 24px;
	width: 24px;
	height: 24px;
	margin-left: 25px;
	&:hover {
		color: rgb(19, 19, 18);
	}
	&:active {
		padding-top: 35px;
		color: $primary-color;
	}
}
.iframe-container__left__ico-container {
	padding-top: 35px;
	display: flex;
	align-items: center;
}
.iframe-container__right {
	width: 100%;
	margin-right: 60px;
}
.iframe {
	width: 100%;
	height: 378px;
	border-radius: 15px;
	border: 0;
	margin-right: 50px;
}
@media screen and (max-width: 1140px) {
	.iframe {
		width: 100%;
		height: 320px;
	}
	.iframe-container__left__h3 {
		font-size: 28px;
		line-height: 33px;
	}
	.iframe-container__left__p {
		padding-top: 22px;
		color: $primary-color;
		font-size: 16px;
		line-height: 20px;
		text-align: justify;
		width: 100%;
	}
}
@media screen and (max-width: 996px) {
	.iframe {
		width: 100%;
		height: 300px;
	}
	.iframe-container__left__h3 {
		font-size: 20px;
		line-height: 22px;
	}
	.iframe-container__left__p {
		font-size: 14px;
		line-height: 20px;
	}
	.iframe-container__left__ico-playstore {
		padding-top: 10px;
	}
	.iframe-container__left__ico-appstore {
		padding-top: 20px;
	}
	.iframe-container__left__ico-windows {
		padding-top: 20px;
	}
}
@media screen and (max-width: 996px) {
	.iframe-container-flex {
		flex-wrap: wrap;
	}
	.iframe {
		width: 90%;
		height: 300px;
		margin-left: 60px;
		margin-top: 50px;

	}
	.iframe-container__left__h3 {
		font-size: 28px;
		line-height: 33px;
		width: 100%;
	}
	.iframe-container__left__p {
		padding-top: 22px;
		color: $primary-color;
		font-size: 16px;
		line-height: 20px;
		text-align: justify;
		width: 100%;
	}
}
@media screen and (max-width: 576px) {
	.iframe-container-flex {
		flex-wrap: wrap;
	}
	.iframe {
		display: none;		
	}
	.iframe-container__left__h3 {
		font-size: 28px;
		line-height: 33px;
		width: 100%;
	}
	.iframe-container__left__p {
		padding-top: 22px;
		color: $primary-color;
		font-size: 16px;
		line-height: 20px;
		text-align: justify;
		width: 100%;
	}
	.iframe-container__left {
		padding-left: 80px;
		padding-right: 80px;
		width: 100%;
	}
	.iframe-section {
		padding-left: 0px;
		padding-right: 0px;
	}
}
