html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

button,
button:hover,
button:active {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:focus {
  border: 1px solid #FFF;
}

a {
  text-decoration: none;
  outline: none;
  border: none;
}

header {
  background: url("../images/main-bg.jpg") no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 782px;
}

.wrapper__checkbox {
  display: none;
}

.header-container {
  padding-left: 100px;
  padding-right: 100px;
}

.main-nav-container {
  padding-top: 40px;
}

.main-nav-container__logo {
  display: block;
  max-width: 100%;
  height: 100%;
}

.main-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav-link {
  color: #FFF;
  font-size: 14px;
  line-height: 17px;
  margin-left: 2px;
  padding: 8px 10px;
  background: transparent;
  -webkit-transition-duration: 0.5s, 0.3s;
          transition-duration: 0.5s, 0.3s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  border-radius: 8px;
}

.main-nav-link:hover {
  color: #ED4C5C;
  background: #FFF;
  border-radius: 6px;
  padding: 8px 10px;
}

.main-nav-link:active {
  background: transparent;
  color: #FFF;
}

.main-nav-link:ficus {
  border: 1px solid #FFF;
  outline: none;
}

.main-button {
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 6px;
  font-size: 14px;
  line-height: 17px;
  padding: 12px 30px;
  margin-right: 20px;
}

.main-button:hover {
  background: #fff;
  color: #ED4C5C;
  border: 1px solid #ED4C5C;
}

.main-button:active {
  color: #FFF;
  border: 1px solid #FFF;
  background: transparent;
}

.main-text-container {
  padding-top: 178px;
  padding-bottom: 178px;
  text-align: center;
}

.main-text {
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  color: #FFF;
}

.main-text-under {
  padding-top: 40px;
  color: #FFF;
  font-size: 24px;
  line-height: 1.5em;
  text-align: center;
}

.main-text-container__button {
  margin-top: 40px;
  color: #ED4C5C;
  padding: 20px 50px;
  background: #FFF;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid #ED4C5C;
}

.main-text-container__button:hover {
  color: #FFF;
  background: transparent;
  border: 1px solid #FFF;
}

.main-text-container__button:active {
  color: #ED4C5C;
  background: #FFF;
}

@media screen and (max-width: 1140px) {
  .main-nav-link {
    font-size: 12px;
    padding: 5px 10px;
    margin-left: 0;
  }
  .main-button {
    padding: 8px 20px;
    font-size: 12px;
  }
  .header-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 992px) {
  .header-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    height: 100%;
  }
  .main-button {
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 6px;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 30px;
    margin-right: 20px;
    margin-top: -5px;
  }
  .main-nav-container__logo {
    display: none;
  }
  .wrapper__checkbox:checked ~ .main-nav {
    left: 0;
    top: 0;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .wrapper__checkbox:checked ~ .wrapper__burger .wrapper-burger__line:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }
  .wrapper__checkbox:checked ~ .wrapper__burger .wrapper-burger__line:nth-child(2) {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .wrapper__checkbox:checked ~ .wrapper__burger .wrapper-burger__line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -6px;
  }
  .wrapper__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 45px;
    height: 45px;
    background: #FFF;
    border-radius: 6px;
    position: fixed;
    top: 35px;
    left: 20px;
    border: 1px solid #ED4C5C;
    cursor: pointer;
    z-index: 2;
  }
  .wrapper-burger__line {
    display: block;
    position: relative;
    background: #ED4C5C;
    width: 25px;
    height: 2px;
    margin: 3px;
  }
  .main-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 180px;
    height: 250px;
    background: #ED4C5C;
    border-radius: 0px 0px 50px 0px;
    outline: none;
    -webkit-transition: 1s all;
    transition: 1s all;
    z-index: 1;
  }
  .main-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 20px;
    padding-left: 50px;
  }
  .main-nav-link {
    color: #FFF;
  }
  .main-nav-item {
    margin-top: 20px;
  }
  .main-text {
    font-size: 50px;
  }
  .main-text-under {
    padding-top: 10px;
    color: #FFF;
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .main-text {
    font-size: 36px;
  }
  .main-text-under {
    padding-top: 10px;
    color: #FFF;
    font-size: 12px;
    line-height: 1.5em;
    text-align: center;
  }
  .main-button {
    margin-right: 0px;
  }
}

.hero-section {
  background: #FFF;
  text-align: center;
}

.hero-section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 95px;
  padding-bottom: 102px;
  padding-left: 120px;
  padding-right: 165px;
}

.hero-section__text-container {
  width: 50%;
  text-align: start;
}

.hero-section__h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000;
  width: 80%;
}

.hero-section__p {
  padding-top: 56px;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  padding-right: 20px;
  width: 80%;
}

.hero-section__img {
  position: relative;
}

.hero-section__img__img {
  width: 100%;
  height: 100%;
}

.hero-section__img__button {
  width: 66px;
  height: 66px;
  border-radius: 50px;
  background: #ED4C5C;
  display: inline-block;
  position: absolute;
  top: calc(50% - 33px);
  left: calc(50% - 33px);
}

.hero-section__img__button:hover {
  background: #ED4C5C;
  -webkit-box-shadow: 1px 1px 10px #ED4C5C;
          box-shadow: 1px 1px 10px #ED4C5C;
}

@media screen and (max-width: 1440px) {
  .hero-section__h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    color: #000;
    width: 90%;
  }
  .hero-section__p {
    padding-top: 36px;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    width: 90%;
  }
}

@media screen and (max-width: 1300px) {
  .hero-section__h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #000;
    width: 100%;
  }
  .hero-section__p {
    padding-top: 36px;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .hero-section-flex {
    padding-left: 60px;
    padding-right: 100px;
  }
  .hero-section__text-container {
    margin-top: 80px;
  }
  .hero-section__h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #000;
    width: 90%;
  }
  .hero-section__p {
    padding-top: 36px;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    padding-right: 20px;
    width: 90%;
  }
  .hero-section__img {
    text-align: center;
    padding-top: 50px;
  }
}

@media screen and (max-width: 992px) {
  .hero-section-flex {
    padding-left: 30px;
    padding-right: 80px;
  }
  .hero-section__h2 {
    width: 90%;
    font-size: 26px;
    line-height: 30px;
  }
  .hero-section__p {
    padding-top: 16px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    width: 90%;
  }
  .hero-section__img__button {
    width: 56px;
    height: 56px;
    top: calc(55% - 28px);
    left: calc(50% - 28px);
  }
}

@media screen and (max-width: 768px) {
  .hero-section-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-section__text-container {
    width: 100%;
    margin: 0;
  }
  .hero-section__h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    color: #000;
    width: 100%;
    text-align: center;
  }
  .hero-section__p {
    padding-top: 36px;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }
  .hero-section__img {
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
  }
  .hero-section__img__button {
    width: 56px;
    height: 56px;
    top: calc(55% - 28px);
    left: calc(55% - 28px);
  }
}

@media screen and (max-width: 576px) {
  .hero-section__h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    color: #000;
    width: 99%;
    text-align: center;
  }
  .hero-section__p {
    text-align: justify;
    padding-left: 30px;
    padding-right: 20px;
  }
  .hero-section__img {
    text-align: center;
    padding-top: 50px;
    padding-left: 10px;
  }
  .hero-section__img__img {
    width: 280px;
  }
  .hero-section__img__button {
    width: 46px;
    height: 46px;
    top: calc(65% - 28px);
    left: calc(55% - 28px);
  }
}

.features-section {
  text-align: center;
}

.features-section__h2 {
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #000;
  font-weight: 600;
  padding-top: 93px;
}

.box-img {
  position: relative;
  width: 350px;
}

.features-section__box-flex {
  padding-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-manage {
  padding-left: 20px;
}

.box-software {
  padding-left: 20px;
}

.box__text {
  position: absolute;
  width: 293px;
  height: 198px;
  padding: 32px 32px 25px 32px;
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  margin-top: -100px;
  background: #FFF;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.box__text__h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.box__text__p {
  font-size: 14px;
  line-height: 21px;
  padding-top: 20px;
}

.box__button {
  font-size: 14px;
  line-height: 21px;
  color: #ED4C5C;
  padding-top: 15px;
}

.box__button:hover {
  color: #000;
  text-shadow: 0.5px 0.5px 1px #000;
  border: transparent;
}

.box__button:active {
  color: #ED4C5C;
  text-shadow: none;
}

@media screen and (max-width: 1140px) {
  .features-section__box-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1090px) {
  .box-software {
    margin-top: 150px;
  }
}

@media screen and (max-width: 720px) {
  .box-manage {
    margin-top: 150px;
  }
}

@media screen and (max-width: 576px) {
  .features-section__box-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features-section__h2 {
    padding-top: 50px;
  }
  .box-manage {
    padding-left: 0px;
  }
  .box-software {
    padding-left: 0px;
  }
  .box__text {
    padding: 15px 20px;
    width: 250px;
    height: 200px;
    margin-left: 50px;
  }
  .box__text__h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }
  .box__text__p {
    font-size: 14px;
    line-height: 21px;
    padding-top: 20px;
  }
}

.technology-section {
  padding-left: 165px;
  padding-right: 165px;
  padding-top: 200px;
}

.technology-section__h2 {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000;
  padding-top: 63px;
}

.technology-section__container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.technology-section__box {
  text-align: center;
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.technology-section__box:hover {
  -webkit-box-shadow: 2px 2px 15px #ED4C5C;
          box-shadow: 2px 2px 15px #ED4C5C;
  border: none;
  background: transparent;
  border-radius: 6px;
  padding: 10px 15px;
}

.technology-section__box:active {
  -webkit-box-shadow: 5px 5px 25px gray;
          box-shadow: 5px 5px 25px gray;
}

.technology-section__box-ico {
  font-size: 80px;
  color: #ED4C5C;
}

.box-ico-cloud {
  padding-top: 10px;
}

.ico-cloud {
  padding-bottom: 0;
  line-height: 0;
}

.ico-secure {
  font-size: 70px;
}

.ico-pdf {
  font-size: 70px;
}

.ico-csv {
  font-size: 60px;
}

.csv-text {
  padding-top: 10px;
}

.technology-section__box-h3 {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

.technology__box-p {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding-top: 10px;
  width: 190px;
}

@media screen and (max-width: 992px) {
  .technology-section__container-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .technology-section__container-flex {
    padding-top: 50px;
  }
  .technology-section__box {
    margin-top: 20px;
  }
  .technology-section {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.iframe-section {
  background-color: #ED4C5C;
  margin-top: 108px;
  padding-left: 100px;
  padding-right: 100px;
}

.iframe-container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 35px;
}

.iframe-container__left {
  padding-left: 65px;
  width: 100%;
}

.iframe-container__left__h3 {
  font-size: 36px;
  line-height: 43px;
  color: #FFF;
  width: 70%;
}

.iframe-container__left__p {
  padding-top: 32px;
  color: #FFF;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  width: 70%;
}

.iframe-ico-anchor {
  width: 32px;
  height: 32px;
}

.iframe-container__left__ico-playstore {
  margin-top: 35px;
  color: #FFF;
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.iframe-container__left__ico-playstore:hover {
  color: #000;
  text-shadow: 0.5px 0.5px 1px grey;
}

.iframe-container__left__ico-playstore:active {
  padding-top: 35px;
  color: #FFF;
}

.iframe-container__left__ico-appstore {
  margin-top: 35px;
  color: #FFF;
  font-size: 28px;
  width: 28px;
  height: 28px;
  margin-left: 25px;
}

.iframe-container__left__ico-appstore:hover {
  color: #000;
  text-shadow: 0.5px 0.5px 1px grey;
}

.iframe-container__left__ico-appstore:active {
  padding-top: 35px;
  color: #FFF;
}

.iframe-container__left__ico-windows {
  margin-top: 35px;
  color: #FFF;
  font-size: 24px;
  width: 24px;
  height: 24px;
  margin-left: 25px;
}

.iframe-container__left__ico-windows:hover {
  color: #131312;
}

.iframe-container__left__ico-windows:active {
  padding-top: 35px;
  color: #FFF;
}

.iframe-container__left__ico-container {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iframe-container__right {
  width: 100%;
  margin-right: 60px;
}

.iframe {
  width: 100%;
  height: 378px;
  border-radius: 15px;
  border: 0;
  margin-right: 50px;
}

@media screen and (max-width: 1140px) {
  .iframe {
    width: 100%;
    height: 320px;
  }
  .iframe-container__left__h3 {
    font-size: 28px;
    line-height: 33px;
  }
  .iframe-container__left__p {
    padding-top: 22px;
    color: #FFF;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    width: 100%;
  }
}

@media screen and (max-width: 996px) {
  .iframe {
    width: 100%;
    height: 300px;
  }
  .iframe-container__left__h3 {
    font-size: 20px;
    line-height: 22px;
  }
  .iframe-container__left__p {
    font-size: 14px;
    line-height: 20px;
  }
  .iframe-container__left__ico-playstore {
    padding-top: 10px;
  }
  .iframe-container__left__ico-appstore {
    padding-top: 20px;
  }
  .iframe-container__left__ico-windows {
    padding-top: 20px;
  }
}

@media screen and (max-width: 996px) {
  .iframe-container-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .iframe {
    width: 90%;
    height: 300px;
    margin-left: 60px;
    margin-top: 50px;
  }
  .iframe-container__left__h3 {
    font-size: 28px;
    line-height: 33px;
    width: 100%;
  }
  .iframe-container__left__p {
    padding-top: 22px;
    color: #FFF;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .iframe-container-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .iframe {
    display: none;
  }
  .iframe-container__left__h3 {
    font-size: 28px;
    line-height: 33px;
    width: 100%;
  }
  .iframe-container__left__p {
    padding-top: 22px;
    color: #FFF;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    width: 100%;
  }
  .iframe-container__left {
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
  }
  .iframe-section {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.contact-section {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 117px;
}

.contact-container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-container__text {
  width: 100%;
  padding-left: 35px;
}

.contact-container__text__h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000;
  padding-left: 35px;
}

.contact-container__text__p {
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #000;
  padding-top: 33px;
  padding-left: 35px;
  width: 80%;
}

.contact-container__form {
  width: 100%;
  padding-right: 50px;
}

.contact-container__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-container__input-first-name {
  width: 50%;
  margin-right: 15px;
  padding: 20px 0px 20px 30px;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #333333;
  color: rgba(19, 39, 67, 0.5);
  border-radius: 6px;
}

.contact-container__input-last-name {
  margin-left: 15px;
  width: 50%;
  padding: 20px 20px 20px 30px;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #333333;
  color: rgba(19, 39, 67, 0.5);
  border-radius: 6px;
}

.contact-container__input-phone {
  margin-top: 24px;
  width: 100%;
  padding: 20px 0px 20px 30px;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #333333;
  color: rgba(19, 39, 67, 0.5);
  border-radius: 6px;
}

.contact-container__input-select-service {
  margin-top: 24px;
  width: 100%;
  padding: 20px 0px 20px 30px;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #333333;
  color: rgba(19, 39, 67, 0.5);
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact-container__input-select-service::-ms-expand {
  display: none;
}

.ico-arrow-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-arrow-down {
  font-size: 14px;
  position: absolute;
  display: inline-block;
  top: calc(100% - 35px);
  left: calc(100% - 50px);
  color: rgba(19, 39, 67, 0.5);
  -ms-appearance: none;
}

.contact-container__button {
  margin-top: 28px;
  padding: 20px 34px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFF;
  background: #ED4C5C;
  border: 1.5px solid #ED4C5C;
  border-radius: 6px;
}

.contact-container__button:hover {
  color: #ED4C5C;
  border: 1.5px solid #ED4C5C;
}

.contact-container__button:active {
  background: #ED4C5C;
  border: 1.5px solid #ED4C5C;
  color: #FFF;
}

@media screen and (max-width: 992px) {
  .contact-container-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-container__form {
    width: 100%;
    padding-left: 70px;
    padding-right: 60px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .contact-container-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-container__form {
    width: 100%;
    padding-left: 70px;
    padding-right: 60px;
    padding-top: 50px;
  }
  .contact-section {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 117px;
  }
  .contact-container__form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .contact-container__input-first-name {
    width: 100%;
  }
  .contact-container__input-last-name {
    width: 100%;
    margin-left: 0;
    margin-top: 25px;
  }
}

.footer-section {
  padding-left: 100px;
  padding-right: 100px;
}

.footer-container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 130px;
  width: 100%;
  padding-left: 65px;
  padding-right: 65px;
}

.footer-container__h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.footer-address-container__p {
  font-size: 14px;
  line-height: 21px;
  color: #000;
  padding-top: 33px;
}

.footer-address-container__p-footnote {
  font-size: 14px;
  line-height: 17px;
  padding-top: 80px;
  color: #000;
  padding-left: 65px;
}

.footer-services-container__list {
  padding-top: 28px;
}

.footer-services-container__link {
  font-size: 14px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000;
}

.footer-services-container__link:hover {
  color: #ED4C5C;
}

.footer-services-container__link:active {
  color: #000;
}

.footer-get-in-touch-container__p {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding-top: 33px;
}

.footer-img-mastercart {
  padding-top: 33px;
}

.footer-ico-container {
  padding-top: 20px;
}

.ico-facebook {
  margin-top: 20px;
  font-size: 20px;
  color: #000;
}

.ico-facebook:hover {
  color: #ED4C5C;
}

.ico-facebook:active {
  color: #000;
}

.ico-linkedin {
  margin-top: 20px;
  font-size: 20px;
  color: #000;
}

.ico-linkedin:hover {
  color: #ED4C5C;
}

.ico-linkedin:active {
  color: #000;
}

.ico-twitter {
  margin-top: 20px;
  font-size: 20px;
  color: #000;
}

.ico-twitter:hover {
  color: #ED4C5C;
}

.ico-twitter:active {
  color: #000;
}

@media screen and (max-width: 1100px) {
  .footer-container-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-container__h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 22px;
    color: #000;
    text-align: center;
    padding-top: 20px;
  }
  .footer-address-container__p {
    font-size: 18px;
    line-height: 28px;
    color: #000;
    padding-top: 33px;
    text-align: center;
    padding-bottom: 20px;
  }
  .footer-services-container__list {
    text-align: center;
    padding-top: 20px;
  }
  .footer-services-container__item {
    padding-top: 10px;
  }
  .footer-services-container__link {
    font-size: 18px;
  }
  .footer-get-in-touch-container__p {
    font-size: 18px;
    line-height: 28px;
  }
  .h2__services {
    padding-top: 60px;
  }
  .h2__getintouch {
    padding-top: 70px;
  }
  .h2__support {
    padding-top: 70px;
  }
  .footer-ico-container {
    text-align: center;
  }
  .footer-address-container__p-footnote {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer-section {
    padding-left: 100px;
    padding-right: 100px;
  }
  .ico-facebook {
    font-size: 30px;
  }
  .ico-linkedin {
    font-size: 30px;
  }
  .ico-twitter {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .footer-section {
    padding-left: 0px;
    padding-right: 0px;
  }
  .ico-facebook {
    font-size: 48px;
  }
  .ico-linkedin {
    font-size: 48px;
  }
  .ico-twitter {
    font-size: 48px;
  }
}
/*# sourceMappingURL=main.css.map */